<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="sequence-headers text-center">
					<div class="col col-1">
						&nbsp;
					</div>
					<div class="col col-1">
						<small>Scene 1</small>
					</div>
					<div class="col col-1">
						<small>Scene 2</small>
					</div>
					<div class="col col-1">
						<small>Scene 3</small>
					</div>
					<div class="col col-1">
						<small>Scene 4</small>
					</div>
					<div class="col col-1">
						<small>Scene 5</small>
					</div>
					<div class="col col-1">
						<small>Scene 6</small>
					</div>
					<div class="col col-1">
						<small>Scene 7</small>
					</div>
					<div class="col col-1">
						<small>Scene 8</small>
					</div>
					<div class="col col-1">
						<small>Scene 9</small>
					</div>
					<div class="col col-1">
						<small>Scene&nbsp;10</small>
					</div>
					<div class="col col-1">
						<small>Scene&nbsp;11</small>
					</div>
					<div class="col col-1">
						<small>Scene&nbsp;12</small>
					</div>
			</div>
			<div class="sequence radius">
				
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div class="alert-box warning radius display">
					
					</div>
					<div class="row">
						<div class="col-xs-4 text-center">
							<a href="javascript:void(0)" class="btn btn-sm btn-squishy btn-block">NAV</a>
						</div>
						<div class="col-xs-4 text-center">
							<a href="javascript:void(0)" class="btn btn-sm btn-squishy btn-block"><span class="glyphicon glyphicon-chevron-left"></span></a>
						</div>
						<div class="col-xs-4 text-center">
							<a href="javascript:void(0)" class="btn btn-sm btn-squishy btn-block"><span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
					</div>
					<br>
					<div class="transport">

					</div>
				</div>
				<div class="col-sm-2">
					<div class="text-center">
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="btn-group btn-group-justified group-buttons">
<%
						count = 1;
						while (count <= 8) {
%>
							<a class="btn btn-squishy btn-sm" title="CTRL+<%= count %>" href="javascript:void(0)" data-behavior="selectGroup" data-meta="<%= count %>"><small>GRP <%= count %></small></a>
<%
							count++;
						}
%>
					</div>
					<hr>
					<div class="row pads">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="patterns-headers">
				<div class="btn-group btn-group-justified">
<%
					count = 1;
					while (count <= 16) {
%>
						<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="<%= count %>"><%= count %></a>
<%
						count++;
					}
%>
				</div>
			</div>
			<div class="pattern">
				<div class="row">
					<div class="col-xs-2">
						<div data-bind="Sound.1.name" 	class="slot slot-label">Sound 1</div>
						<div data-bind="Sound.2.name" 	class="slot slot-label">Sound 2</div>
						<div data-bind="Sound.3.name" 	class="slot slot-label">Sound 3</div>
						<div data-bind="Sound.4.name" 	class="slot slot-label">Sound 4</div>
						<div data-bind="Sound.5.name" 	class="slot slot-label">Sound 5</div>
						<div data-bind="Sound.6.name" 	class="slot slot-label">Sound 6</div>
						<div data-bind="Sound.7.name" 	class="slot slot-label">Sound 7</div>
						<div data-bind="Sound.8.name" 	class="slot slot-label">Sound 8</div>
						<div data-bind="Sound.9.name" 	class="slot slot-label">Sound 9</div>
						<div data-bind="Sound.10.name" 	class="slot slot-label">Sound 10</div>
						<div data-bind="Sound.11.name" 	class="slot slot-label">Sound 11</div>
						<div data-bind="Sound.12.name" 	class="slot slot-label">Sound 12</div>
						<div data-bind="Sound.13.name" 	class="slot slot-label">Sound 13</div>
						<div data-bind="Sound.14.name" 	class="slot slot-label">Sound 14</div>
						<div data-bind="Sound.15.name" 	class="slot slot-label">Sound 15</div>
						<div data-bind="Sound.16.name" 	class="slot slot-label">Sound 16</div>
					</div>
					<div class="col-xs-10">
						<div class="patterns">
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>
<script type="text/javascript">
<%
	if (typeof recipe !== 'undefined') {
%>
	var require = {config: {}};
	require.config['views/app'] = {recipe: <%- JSON.stringify(recipe) %>};
<%
	}
%>
</script>