<div class="hero-unit">
  <h2 class="id"><%= sample.id %></h2>
  <%- linkTo('Edit this sample', editSamplePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', samplePath(''), {class: 'btn pull-right'}); %>
</div>

<h2>Sample Properties</h2>
<% for(var i in sample) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= sample[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>